nav
    a(href='/' class=path==='/'?'active':'') Home
    a(href='/verify' class=path==='/verify'?'active':'') Verify
    a(href='/register', class=path==='/register'?'nav-right active':'nav-right') Register
    a(href='/login', class=path==='/login'?'nav-right active':'nav-right') Login