doctype html
html
    head
        title Page Not Found | IdentifyMe
        include includes/head
    body
        include includes/navbar
        div.container.d-flex.justify-content-center.mt-5.mb-5
            div.row
                div.col-12
                    h1.label <span style='font-size:18rem;'>#{statusCode}</span> | #{message.toUpperCase()}