doctype html
html
    head
        title Home | IdentifyMe
        include includes/head
    body
        include includes/navbar
        div.container.text-start.mt-5.mb-5
            div.row
                h1.label.mb-4 IdentifyMe
            div.row
                div.col-md-8.col-sm-12.mb-4
                    span IdentifyMe is an identification system for Singaporean citizens to be assured that they are engaged by a legitimate personnel as claimed by the individual, or individuals representing entities to guarantee their identity to their customers. Use <span class="label">IdentityMe</span> to deter yourself from possibly falling for a scam.
            div.row
                div.col-md-6.col-sm-12.mb-3
                    div.card.h-100
                        h4.card-title.text-center.mt-4.label Verify an Identity
                        div.card-body.text-center
                            div.mb-4
                                a.btn.btn-custom(href='/verify') Verify Now
                            div Be sure about who you are talking to. Verify their identity.
                div.col-md-6.col-sm-12.mb-3
                    div.card.h-100
                        h4.card-title.text-center.mt-4.label Apply for Identification
                        div.card-body.text-center
                            div.mb-4
                                a.btn.btn-custom(href='/register') Register Here
                            div For individuals representing an entity, with authorised access to <span class="label">Corppass</span>.