doctype html
html
    head
        title Create Profile | IdentifyMe
        include includes/head
    body
        include includes/navbar
        div.container.text-start.mt-5
            div.row
                div.col-6
                    div.card.h-100
                        h4.card-title.text-center.mt-4 Register with <span class="label">MyInfo<span>
                        div.card-body.text-center
                            div.mb-4
                                a.btn.btn-custom(href='#') Apply with Singpass
                            div For individuals not representing any entity.
                div.col-6
                    div.card.h-100
                        h4.card-title.text-center.mt-4 Register with <span class="label">MyInfo Business<span>
                        div.card-body.text-center
                            div.mb-4
                                a.btn.btn-custom(href='#') Apply with Singpass
                            div For individuals representing an entity, with authorised access to <span class="label">Corppass</span>.