.card {
    background-color: #afc1c5 !important;
}

.profile-card {
    width: 42rem !important;
}

.profile-banner {
    position: relative;
    overflow: hidden;
    height: 100px;
    margin-top: 16px;
}

.profile-banner img {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
}

.profile-image {
    border: 1px solid black;
    padding: 1px !important;
    margin: 20px;
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
}

.profile-note {
    margin: 0 20px;
}

.label {
    color: #d93128;
    font-weight: bold;
}